# Dependencies
node_modules/
package-lock.json

# Production build
build/

# Environment
.env
.env.local
.env.production

# Testing
coverage/

# Misc
.DS_Store
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
